.footer{
  background-color:white;
  padding:25px 0 10px;
  font-size:15px;
  line-height:24px;
  color:  black;
}

.footer hr{
  border-color:black;
  opacity: 0,5;
}

.footer a{
  color:  black;
}

.footer a:hover{
  color:purple;
  text-decoration:none;
}

