.navbar{
	height: 70px;
	background-color: #390000;
}
.card{
	margin-top: 10%;
	align-items: center;
	border-color: transparent;
	background-color: transparent;
}
.img{
	border-radius: 10%;
	width: 20%;
	height: 20%;
}
.footer{
	background-color: #390000;
	width: 100%;
	height: 20%;
	margin-top: 15%;
	margin-bottom: 1%;
}
.text-copy{
	margin-bottom: 20px;
	color: white;
}
.bg{
	background: url('photo/background/bank-4042115_1920.jpg') no-repeat fixed;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	background-size: 100% 100%;
}