/* navbar */
.navbar{
	background-color: white;
}

/* card */
.card{
	background-color: white;
}

/* profil picture */
.card-img{
	border-radius: 360px;
	width: 200px;
	margin-top: 50px;
}

/* button */
.btn{
	background-color: white;
	color: purple;
	border-color: purple;
}

/* isi profil */
.isiprofil{
	background: url(photo/icon/love.gif);
}

/* slider */

.img{
	border-color: purple; 
}

.img-thumbnail{
	color: black;
}
