/* navbar */
.navbar{
	background-color: white;
}

/* card */
.card{
	background-color: white;
}

/* profil picture */
.card-img{
	border-radius: 360px;
	width: 200px;
	margin-top: 50px;
}

/* button */
.btn{
	background-color: white;
	color: purple;
	border-color: purple;
}

/* isi profil */
.isiprofil{
	background: url(photo/icon/love.gif);
}

/* slider */

.img{
	border-color: purple; 
}

.img-thumbnail{
	color: black;
}

/* fade in */
#progress-content-section .section-content{
    display:none;
    animation: FadeInUp 3500ms ease 1; 
    animation-fill-mode:forwards;
    transform:translateY(15px);
    opacity:0;
}

#progress-content-section .section-content.active {
    display:block;
}

@keyframes FadeInUp {
    0% {
        transform:translateY(15px);
        opacity:0;
    }
    
    100% {
        transform:translateY(0px);
        opacity:1;
    }
}

@keyframes slidy{
	0%{
		left: 0%
	}

	10%{
		left: 0%;
	}

	12%{
		left: -100%;
	}

	22%{
		left: -100%;
	}

	24%{
		left: -200%;
	}

	34%{
		left: -200%;
	}

	36%{
		left: -300%;
	}

	46%{
		left: -300%;
	}

	48%{
		left: -400%;
	}

	58%{
		left: -400%;
	}

	60%{
		left: -300%;
	}

	70%{
		left: -300%;
	}

	72%{
		left: -200%;
	}

	82%{
		left: -200%;
	}

	84%{
		left: -100%;
	}

	94%{
		left: -100%;
	}

	96%{
		left: 0%;
	}

	100%{
		left: 0%;
	}
}
